a {
  cursor: pointer;
}
ul {
  position: relative;
  padding: 5px 100px;
  
  li.register {
    position: absolute;
    right: 20px;
  }
  li a {
    color: #364f6b;
    text-decoration: none;
    font-weight: bold;
  }
  li a:hover{
    background-color: #fc5185;
    color: white;
    padding: 5px;
  }
}
