<nav class="navbar  navbar-light bg-light fixed-top" id="n">
  <a class="navbar-brand" href="#" class="secondary-text-color font-weight-bold">Agenda.</a>
    <div >
        <ul class="navbar-nav mr-auto" *ngIf="userActive.length == 0" >
            <li class="nav-item login">
                <a routerLink="/login">log in</a>
            </li>
            <li class="nav-item register">
                <a routerLink="/signup">Register</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" *ngIf="userActive.length == 1">
            <li class="nav-item">
                <a routerLink="/" (click)="logout()">logout</a>
            </li>
        </ul>
    </div>
</nav>
