<section class="landing-page d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2 mb-3">
                <i class="fas fa-clipboard-check fa-3x"></i>
            </div>
            <div class="col-12 text-capitalize text-center">
                <h2>to do list</h2>
                <h6 class="">more productivity</h6>
                <span class="border-bottom"><i></i></span>
            </div>
        </div>
    </div>
</section>